@import "./utils/variables";
@import "./base/typography";


/* Eléments principaux et communs de la page */
body{
    background: white;
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    margin: auto;
    max-width: 1024px;
}

.btn {
    color: white;
    background: $color-Btn-gradient;
    border: none;
    height: 3rem;
    border-radius: 1.5rem;
    box-shadow: $box-shadow;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.1rem;
    transition: box-shadow 250ms;
    &:hover {
        box-shadow: $box-shadow-hover;
        background: linear-gradient( 175deg, lighten($colour-secondary,8%), lighten($colour-primary,8%));
    }
}

/* loader */
.loader{
    position: fixed;
}

/* Header */
.header{
    text-align: center;
    img{
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    width: 60%;
    max-width: 300px;
    }
}

/* Localisation */
.location{
    background: $colour-bg-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset  0px 6px 5px -5px rgba(0, 0, 0, .2);
    i{
        font-size: 1.2rem;
        margin-right: 1rem;
    }
}

/* Presentation */
.presentation{
    background:  $colour-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 3rem;
    &__header{
        max-width: 80%;
        font-size: 2rem;
        margin-block-end: 0em;
    }
    &__text{
        margin-bottom: 2.5rem;
    }
}

/* Fonctionnement */
.fonctionnement{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-bottom: 2.5rem;
    ul{
        padding-left: 1rem;
    }
}

.step{
    display: flex;
    align-items: center;
    background: $colour-bg;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    box-shadow: $box-shadow;
    &__ico{
            margin: 1.2rem;
            color: rgb(119, 119, 119);
    }
    &__ico--color{
        color: $colour-primary;
    }
    &__num{
        background: $colour-primary;
        color: white;
        height: 2rem;
        width: 2rem;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin-left: -1rem;
    }
}

.step--color{
    background: lighten($colour-primary, 35%);
}

/* restaurants */
.restaurant{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 2.2rem;
    padding-bottom: 2.5rem;
    background: $colour-bg;
    img{
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0rem;
    }  
}

.preview{
    background: white;
    border-radius: 1rem;
    height: 250px;
    box-shadow: $box-shadow;
    margin-bottom: 1.8rem;
    margin-left: 0rem;
    margin-right: 0rem;
    transition: box-shadow 250ms;
    width: 100%;
    &:hover{
        box-shadow: $box-shadow-hover;
    }
    &__new{
        background: $colour-tertiary;
        color: darken($colour-tertiary,40%);
        width: 6rem;
        right: 3rem;
        padding: 0.4rem;
        text-align: center;
        margin-top: 1rem;
        font-weight: bold;
        z-index: 100;
        position: relative;
        top: -15rem;
        right: 1rem;
    }
    &__new-position{
        display: flex;
        justify-content: flex-end;
    }
    &__text{
        line-height: 0.2;
        margin-top: -0.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        i{
            font-size: 1.5rem;
        }
    }
}

.like{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    &:hover{
        background: linear-gradient(to bottom, $colour-primary 0%,$colour-secondary 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0);
    }
}

/* FOOTER */

.footer{
    background: $colour-bg-footer;
    nav{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: white;
    &__header{
        font-size: 1.6rem; 
    }
    }
}
.nav{
    padding-left: 0rem;
    &__link{
        margin-bottom: 0.8rem;
    }
    i{
        width: 1.8rem;
    }
    a{
        color: white;
    }
}