/* Header */
.headerMenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6rem;
    &__back{
        flex-grow: 1;
        margin-left: 1rem;
    }
    &__title{
        flex-grow: 1.5;
    }
    i{
        font-size: 1.5rem;
    }
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;   
}