/* Header */
.header{
    display: grid;
    grid-template-columns: 33.3% 33.3% 1fr;
    align-items: center;
    height: 6rem;
    &__back{
        margin-left: 1rem;
        grid-column: 1;
    }
    &__title{
        grid-column: 2;
        display: flex;
        justify-content:center;
    }
    i{
        font-size: 1.5rem;
    }
}
