@charset "UTF-8";
/* Eléments principaux et communs de la page */
body {
  background: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: auto;
  max-width: 1024px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  color: #000;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
  font-size: 2.3rem;
  font-weight: 100;
}

h2 {
  font-weight: bold;
  font-size: 1.6rem;
}

h3 {
  font-weight: bold;
  font-size: 1.4rem;
}

p, li, a {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.btn {
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  height: 3rem;
  border-radius: 1.5rem;
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.2);
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1.1rem;
  transition: box-shadow 250ms;
}
.btn:hover {
  outline-style: none;
  cursor: pointer;
  box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.4);
  background: linear-gradient(175deg, #ffa2e5, #a978e3);
}

/*
.like{
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    &:focus, &:hover, &:active{
        cursor: pointer;
        animation: fadein 1.5s;
        background: linear-gradient(to bottom, $colour-primary 0%,$colour-secondary 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0);
    }
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
*/
.like {
  height: 1rem;
  position: relative;
}
.like:hover .likeNotActive {
  opacity: 0;
}
.like .likeActive {
  position: absolute;
  left: 0;
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0);
  opacity: 0;
  transition: opacity 300ms;
}
.like .likeActive:focus, .like .likeActive:hover, .like .likeActive:active {
  cursor: pointer;
  opacity: 1;
}
.like .likeActive:hover .likeNotActive {
  opacity: 0;
}
.like .likeNotActive {
  opacity: 1;
  transition: opacity 250ms;
}

/* loader */
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9356DC;
  z-index: 200;
}
.loader__container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  width: 15rem;
  height: 15rem;
}
.loader__container__moove {
  background: #FF79DA;
  width: 15rem;
  height: 15rem;
  border-radius: 7.5rem;
  transform: translateY(-130%) scale(0);
  transition: transform 1s;
}
.loader__container__moove h1 {
  display: flex;
  justify-content: center;
  padding-top: 5.5rem;
  font-size: 2.5rem;
}

.loader {
  animation: zipout 0s 1s both;
}

@keyframes zipout {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
/* Header */
.headerHome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6rem;
}
.headerHome__back {
  flex-grow: 1;
  margin-left: 1rem;
}
.headerHome__title {
  flex-grow: 1.5;
}
.headerHome i {
  font-size: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

/* FOOTER */
.footer {
  background: #353535;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 1.5rem;
  color: white;
}
.footer__header {
  font-size: 1.6rem;
}
.footer__nav {
  padding-left: 0rem;
  padding-bottom: 2rem;
  color: white;
  margin-top: 1.3rem;
}
.footer__nav__link {
  margin-bottom: 0.8rem;
}
.footer__nav i {
  width: 1.8rem;
}
.footer__nav a {
  color: white;
}

/* Localisation */
.location {
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  box-shadow: inset 0px 6px 5px -5px rgba(0, 0, 0, 0.2);
}
.location .location__ico {
  font-size: 1.2rem;
  margin-right: 1rem;
}

/* Presentation */
.presentation {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 2rem;
}
.presentation__header {
  max-width: 80%;
  font-size: 2rem;
  margin-block-end: 0em;
  margin-bottom: 1rem;
}
.presentation__text {
  margin-bottom: 2.5rem;
}

/* Fonctionnement */
.fonctionnement {
  padding-top: 2.5rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-bottom: 2.5rem;
}
.fonctionnement ul {
  padding-left: 1rem;
}

.step {
  display: flex;
  align-items: center;
  background: #F6F6F6;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.2);
}
.step:hover {
  background: #f2eafb;
  box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.4);
}
.step:hover .step__ico {
  color: #9356DC;
}
.step__ico {
  margin: 1.2rem;
  color: #777777;
}
.step__num {
  background: #9356DC;
  color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-left: -1rem;
}

/* restaurants */
.restaurant {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 2.2rem;
  padding-bottom: 2.5rem;
  background: #F6F6F6;
}

.preview__fig {
  position: relative;
  background: white;
  border-radius: 1rem;
  height: 250px;
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.2);
  margin-top: 1.5rem;
  margin-bottom: 1.8rem;
  margin-left: 0rem;
  margin-right: 0rem;
  transition: box-shadow 250ms;
  width: 100%;
}
.preview__fig img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0rem;
}
.preview__fig:hover {
  box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.4);
}
.preview__fig__text {
  line-height: 0.2;
  margin-top: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: 1fr 2rem;
}
.preview__fig__text i {
  font-size: 1.6rem;
}
.preview__fig__text__title {
  margin-bottom: 1.5rem;
  grid-column: 1;
  grid-row: 1;
}
.preview__fig__text__description {
  grid-column: 1;
  grid-row: 2;
}
.preview__fig__text .like {
  grid-column: 2;
  grid-row: 1/span 2;
}

.preview__new {
  background: #99E2D0;
  color: #278870;
  width: 6rem;
  padding: 0.4rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  z-index: 100;
  position: absolute;
  right: 3rem;
}

.header a {
  display: initial;
}

.banner {
  background: white;
  border-radius: 1rem;
  height: 280;
  margin-top: initial;
  margin-left: 0rem;
  margin-right: 0rem;
  width: 100%;
}
.banner img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.banner__text {
  margin-top: -3rem;
  background: #F6F6F6;
  line-height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 2rem;
  border-radius: 3rem 3rem 0 0;
  height: 6.5rem;
  position: relative;
}
.banner__text h1 {
  font-size: 2.1rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.banner__text i {
  font-size: 1.8rem;
}

.menu {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
}
.menu h2 {
  font-weight: initial;
  border-bottom: #99E2D0 4px solid;
  width: 3.5rem;
  padding-bottom: 0.4rem;
  font-size: 1.4rem;
}
.menu__bloc {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
}

.menu__bloc__list {
  padding-left: 0rem;
  width: 100%;
  margin-top: 1rem;
}
.menu__bloc__list__text {
  background: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  height: 5rem;
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms;
  padding-left: 1rem;
  overflow: hidden;
}
.menu__bloc__list__text:hover {
  box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.4);
}
.menu__bloc__list__text:hover .menu__bloc__list__text__annimation {
  transform: translateX(-4.5rem);
}
.menu__bloc__list__text:hover .fa-check-circle {
  transform: rotate(0turn);
}
.menu__bloc__list__text__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 2.5rem;
}
.menu__bloc__list__text__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.8rem;
  margin-bottom: 0.5em;
  height: 2.5rem;
}
.menu__bloc__list__text__annimation {
  margin-right: -4.5rem;
  width: 8rem;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  transform: translateX(0rem);
  transition: transform 300ms ease-in-out;
}

.menu__bloc__list__text__annimation__price {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  margin-bottom: 0.7rem;
}
.menu__bloc__list__text__annimation__back {
  background: #99E2D0;
  width: 4.5rem;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  justify-content: center;
  transform-origin: right 50%;
}
.menu__bloc__list__text__annimation__back__ico {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transform: rotate(-1turn);
  transition: transform 300ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
