@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  color: #000;
  line-height: 1.3;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  font-weight: 100;
}

h2 {
  font-weight: bold;
  font-size: 1.6rem;
}

h3 {
  font-weight: bold;
  font-size: 1.4rem;
}

p, li, a {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

/* Eléments principaux de la page */
body {
  background: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  height: 3rem;
  border-radius: 1.5rem;
  box-shadow: 2px 3px 8px 2px rgba(0, 0, 0, 0.2);
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1.1rem;
}

.btn:hover {
  box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.4);
}

/* Header */
body > header {
  text-align: center;
}
body > header img {
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  width: 60%;
  max-width: 300px;
}

/* Localisation */
.localisation {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
}
.localisation header {
  display: flex;
  flex-direction: row;
  background: #EAEAEA;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 6px 5px -5px rgba(0, 0, 0, 0.2);
}
.localisation header i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.localisation section {
  text-align: center;
  padding-bottom: 3rem;
}
.localisation section P {
  margin-bottom: 2.5rem;
}

/* Fonctionnement */
.fonctionnement {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-bottom: 2.5rem;
}
.fonctionnement ul {
  padding-left: 1rem;
}
.fonctionnement ul li {
  display: flex;
  align-items: center;
  background: #F6F6F6;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.2);
}
.fonctionnement ul li .filled {
  color: #9356DC;
}

.fonctionnement i {
  margin: 1.2rem;
}

.fonctionnement p:first-child {
  /* numerotation */
  background: #9356DC;
  color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-left: -1rem;
}

/* restaurants */
#restaurant {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 2.2rem;
  padding-bottom: 2.5rem;
  background: #F6F6F6;
}
#restaurant figure {
  background: white;
  border-radius: 1rem;
  height: 250px;
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.8rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

#restaurant figure:hover {
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.6);
}

#restaurant a > p {
  background: #99E2D0;
  width: 6rem;
  position: absolute;
  right: 3rem;
  padding: 0.4rem;
  text-align: center;
  margin-top: 1rem;
  color: #278870;
  font-weight: bold;
}

#restaurant img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0rem;
}

#restaurant figcaption {
  line-height: 0.2;
  margin-top: -0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
#restaurant figcaption i {
  font-size: 1.5rem;
}

#restaurant i {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

#restaurant i:hover {
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0);
}

/* FOOTER */
footer {
  background: #353535;
}
footer nav {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: white;
}
footer nav h1 {
  font-size: 1.6rem;
}
footer nav ul {
  padding-left: 0rem;
}
footer nav ul li {
  margin-bottom: 0.8rem;
}
footer nav ul a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
