@charset "UTF-8";
/* Eléments principaux et communs de la page */
body {
  background: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: auto;
  max-width: 1024px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  color: #000;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
  font-size: 2.3rem;
  font-weight: 100;
}

h2 {
  font-weight: bold;
  font-size: 1.6rem;
}

h3 {
  font-weight: bold;
  font-size: 1.4rem;
}

p, li, a {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.btn {
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  height: 3rem;
  border-radius: 1.5rem;
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.2);
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1.1rem;
  transition: box-shadow 250ms;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.4);
  background: linear-gradient(175deg, #ffa2e5, #a978e3);
}

.like {
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}
.like:hover {
  cursor: pointer;
  animation: fadein 1.5s;
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* loader */
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9356DC;
  z-index: 200;
}
.loader__container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  width: 15rem;
  height: 15rem;
}
.loader__container__moove {
  background: #FF79DA;
  width: 15rem;
  height: 15rem;
  border-radius: 7.5rem;
  transform: translateY(-130%) scale(0);
  transition: transform 2s;
}
.loader__container__moove h1 {
  display: flex;
  justify-content: center;
  padding-top: 5.5rem;
  font-size: 2.5rem;
}

.loader {
  animation: zipout 0s 2s both;
}

@keyframes zipout {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
/* Header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
}
.header a {
  display: flex;
}
.header i {
  font-size: 1.5rem;
}

/* FOOTER */
.footer {
  background: #353535;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 1.5rem;
  color: white;
}
.footer__header {
  font-size: 1.6rem;
}

.nav {
  padding-left: 0rem;
  padding-bottom: 2rem;
  color: white;
  margin-top: 1.3rem;
}
.nav__link {
  margin-bottom: 0.8rem;
}
.nav i {
  width: 1.8rem;
}
.nav a {
  color: white;
}

.header a {
  display: none;
}

/* Localisation */
.location {
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  box-shadow: inset 0px 6px 5px -5px rgba(0, 0, 0, 0.2);
}
.location i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

/* Presentation */
.presentation {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 2rem;
}
.presentation__header {
  max-width: 80%;
  font-size: 2rem;
  margin-block-end: 0em;
  margin-bottom: 1rem;
}
.presentation__text {
  margin-bottom: 2.5rem;
}

/* Fonctionnement */
.fonctionnement {
  padding-top: 2.5rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-bottom: 2.5rem;
}
.fonctionnement ul {
  padding-left: 1rem;
}

.step {
  display: flex;
  align-items: center;
  background: #F6F6F6;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.2);
}
.step__ico {
  margin: 1.2rem;
  color: #777777;
}
.step__ico--color {
  color: #9356DC;
}
.step__num {
  background: #9356DC;
  color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-left: -1rem;
}

.step--color {
  background: #f2eafb;
}

/* restaurants */
.restaurant {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 2.2rem;
  padding-bottom: 2.5rem;
  background: #F6F6F6;
}

.preview {
  background: white;
  border-radius: 1rem;
  height: 250px;
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.2);
  margin-top: 1.5rem;
  margin-bottom: 1.8rem;
  margin-left: 0rem;
  margin-right: 0rem;
  transition: box-shadow 250ms;
  width: 100%;
}
.preview img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0rem;
}
.preview:hover {
  box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.4);
}
.preview__new {
  background: #99E2D0;
  color: #278870;
  width: 6rem;
  right: 3rem;
  padding: 0.4rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  z-index: 100;
  position: relative;
  top: -15rem;
  right: 1rem;
}
.preview__new-position {
  display: flex;
  justify-content: flex-end;
}
.preview__text {
  line-height: 0.2;
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.preview__text i {
  font-size: 1.5rem;
}
.preview__text h3 {
  margin-bottom: 1.5rem;
}

.header a {
  display: initial;
}

.banner {
  background: white;
  border-radius: 1rem;
  height: 280;
  margin-top: initial;
  margin-left: 0rem;
  margin-right: 0rem;
  width: 100%;
}
.banner img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.banner__text {
  margin-top: -3rem;
  background: #F6F6F6;
  line-height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 2rem;
  border-radius: 3rem 3rem 0 0;
  height: 6.5rem;
  position: relative;
}
.banner__text h1 {
  font-size: 2.1rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.banner__text i {
  font-size: 1.8rem;
}

.menu {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
}
.menu h2 {
  font-weight: initial;
  border-bottom: #99E2D0 4px solid;
  width: 3.5rem;
  padding-bottom: 0.4rem;
  font-size: 1.4rem;
}

.bloc-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
}

.list-menu {
  padding-left: 0rem;
  width: 100%;
  margin-top: 1rem;
}
.list-menu__text {
  background: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms;
  padding-left: 1rem;
}
.list-menu__text:hover {
  box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.4);
}
.list-menu__text:hover .list-menu__text__annimation__back {
  transform: scaleX(1);
}
.list-menu__text:hover .fa-check-circle {
  transform: rotate(0turn);
}
.list-menu__text__annimation {
  display: flex;
}
.list-menu__text h3 {
  margin: 0rem;
}
.list-menu__text span {
  font-weight: bold;
  font-size: 1.4rem;
}
.list-menu__text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.8rem;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

.list-menu .list-menu__text__annimation p {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
}
.list-menu .list-menu__text__annimation__back {
  background: #99E2D0;
  width: 4.5rem;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  justify-content: center;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: right 50%;
}
.list-menu .list-menu__text__annimation i {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transform: rotate(-1turn);
  transition: transform 300ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
