.btn {
    color: white;
    background: $color-Btn-gradient;
    border: none;
    height: 3rem;
    border-radius: 1.5rem;
    box-shadow: $box-shadow;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.1rem;
    transition: box-shadow 250ms;
    &:hover {
        box-shadow: $box-shadow-hover;
        background: linear-gradient( 175deg, lighten($colour-secondary,8%), lighten($colour-primary,8%));
    }
}