/* loader */

//hide home during loader
.location,
.presentation,
.fonctionnement,
.restaurant {
  max-height: 0;
  overflow: hidden;
  animation: hide-home 1s $time-loader forwards;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $colour-primary;
  z-index: 200;
  animation: hide-loader 0s $time-loader both; //hide loader
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    height: 15rem;
    &__ring {
      display: inline-block;
      width: 80px;
      height: 80px;
      &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid $colour-secondary;
        border-color: $colour-secondary transparent $colour-secondary transparent;
        animation: dual-ring 1s linear infinite; //animation
      }
    }
    &__text {
      margin-top: 1.2rem;
      font-family: "Shrikhand", sans-serif;
      font-weight: bold;
      font-size: 1.8rem;
      font-weight: 100;
      color: white;
    }
  }
}
