.header a{
    display: initial;
}

.banner{
    background: white;
    border-radius: 1rem;
    height: 280;
    margin-top: initial;
    margin-left: 0rem;
    margin-right: 0rem;
    width: 100%;

    img{
        width: 100%;
        height: 70%;
        object-fit: cover;
    }  
}
.banner__text{
    margin-top: -3rem;
    background: $colour-bg;
    line-height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 2rem;
    border-radius: 3rem 3rem 0 0;
    height: 6.5rem;
    position: relative;
    h1{
        font-size: 2.1rem;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    i{
        font-size: 1.8rem;
    }
}

.menu{
    background-color: $colour-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    h2{
        font-weight: initial;
        border-bottom:  $colour-tertiary 4px solid;
        width: 3.5rem;
        padding-bottom: 0.4rem;
        font-size: 1.4rem;
    }
}

.bloc-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1rem;
}

.list-menu{
    padding-left: 0rem;
    width: 100%;
    margin-top: 1rem;
    &__text{
        background: white;
        border-radius: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        box-shadow: $box-shadow;
        transition: box-shadow 250ms;
        padding-left: 1rem;
        &:hover{
            box-shadow: $box-shadow-hover;
        }
        &:hover  .list-menu__text__annimation__back{
            transform: scaleX(1);
        }
        &:hover  .fa-check-circle{
            transform: rotate(0turn);
        }
        &__annimation{
            display: flex;
        }
        h3{
            margin: 0rem;
        }
        span{
            font-weight: bold;
            font-size: 1.4rem;
        }
        p{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            line-height:1.8rem;
            margin-block-start: 0.8em;
            margin-block-end: 0.8em;
        }
    }
}

.list-menu .list-menu__text__annimation{
    p{
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-weight: bold;
    }
    &__back{
        background: $colour-tertiary;
        width: 4.5rem;
        border-radius: 0 1rem 1rem 0;
        display: flex;
        justify-content: center;
        transform: scaleX(0);
        transition: transform 300ms ease-in-out;
        transform-origin: right 50%;
    }
    i{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        transform: rotate(-1turn);
        transition: transform 300ms ease-in-out;
    }
}