$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-bg: #F6F6F6;
$colour-bg-secondary: #EAEAEA;
$colour-bg-footer: #353535;
$color-Btn-gradient: linear-gradient( 175deg, $colour-secondary, $colour-primary);

$box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, .2);
$box-shadow-hover: 2px 3px 8px 3px rgba(0, 0, 0, .4);
$time-loader: 1s;